{% extends 'main_theme.html' %}
{% block title %}Home{% endblock %}
{% block optional_content %}
    <form action="#" method="post">
        <div class="mb-3">
            <label for="InputName" class="form-label">Enter header:</label>
            <input type="text" class="form-control" id="InputName" name="note_name">
            <label for="exampleFormControlTextarea1" class="form-label">Enter new note:</label>
            <textarea name="new_note" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button type="submit" class="btn btn-primary">Post note</button>
        </div>
    </form>
        {% for year in years.keys() %}
          <h1>{{year}}</h1>
          {% for month in years[year].keys() %}
            <div class="accordion" id="accordion{{month}}{{year}}">
            <div class="accordion-item">
            <h2 class="accordion-header" id="header{{month}}{{year}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#button{{month}}{{year}}" aria-expanded="true" aria-controls="button{{month}}{{year}}">
                {{month}}
            </button>
            </h2>
            <div id="button{{month}}{{year}}" class="accordion-collapse collapse" aria-labelledby="header{{month}}{{year}}"
                             data-bs-parent="#accordion{{month}}{{year}}">
            <div class="accordion-body">
            <div class="accordion" id="accordion_inner{{month}}{{year}}">
            {% for day in years[year][month].keys() %}
              {% for note in years[year][month][day] %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="header{{note.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#button{{note.id}}" aria-expanded="true" aria-controls="button{{note.id}}">
                      {{note.note_name}} ({{note.date}})
                    </button>
                  </h2>
                  <div id="button{{note.id}}" class="accordion-collapse collapse" aria-labelledby="header{{note.id}}"
                             data-bs-parent="#accordion_inner{{month}}{{year}}">
                    <div class="accordion-body">
                      {{note.text}}
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
            </div>
            </div>
            </div>
            </div>
            </div>
          {% endfor %}
        {% endfor %}
{% endblock %}